img{
    width:100px;
    height: 100px;
}
div{
    display: inline-block;
    margin-left: 100px;
}
body{
    text-align: center;
}
.comment{
    width: 500px;
    height: 250px;
    overflow:scroll;
    text-align: left;
}
.inline{
    display: inline-block;
}