<div>
    <h1>Register to this Cool Site!</h1>
    
    <form action="login" method="get">
        <input value="Login" type="submit">
    </form>

    @model User
    <form asp-action="Registration" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"><br>

        <span asp-validation-for="LastName"></span><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"><br>
        
        <span asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>

        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>

        <span asp-validation-for="Confirm"></span><br>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm"><br>

        <input value="Sign Up Now" type="submit"> 
    </form>
</div>