@model InputChecker
<div id="Index">
    <div id="Registration">
        <h1>Register</h1>
        <form asp-action="Registration" asp-controller="Home" method="post" class="displayInOneLine">
            <table>
                <tr>
                    <td><label asp-for="User.FirstName"></label><br>
                    <span asp-validation-for="User.FirstName"></span></td>
                    <td><input asp-for="User.FirstName"></td>
                </tr>
                <tr>
                    <td><label asp-for="User.LastName"></label><br>
                    <span asp-validation-for="User.LastName"></span></td>
                    <td><input asp-for="User.LastName"></td>
                </tr>
                <tr>
                    <td><label asp-for="User.Email"></label><br>
                    <span asp-validation-for="User.Email"></span></td>
                    <td><input asp-for="User.Email"></td>
                </tr>
                <tr>
                    <td><label asp-for="User.Password"></label><br>
                    <span asp-validation-for="User.Password"></span></td>
                    <td><input asp-for="User.Password"></td>
                </tr>
                <tr>
                    <td><label asp-for="User.Confirm"></label><br>
                    <span asp-validation-for="User.Confirm"></span></td>
                    <td><input asp-for="User.Confirm"></td>
                </tr> 
            </table>
            <input value="Sign Up Now" type="submit">
        </form>
    </div>
    <div id="LoginCheck">
        <h1>Login</h1>
        <form asp-action="LoginCheck" asp-controller="Home" method="post">
            <table>
                <tr>
                    <td><label asp-for="LoginUser.Email"></label><br>
                    <span asp-validation-for="LoginUser.Email"></span></td>
                    <td><input asp-for="LoginUser.Email"></td>
                </tr>
                <tr>
                    <td><label asp-for="LoginUser.Password"></label><br>
                    <span asp-validation-for="LoginUser.Password"></span></td>
                    <td><input asp-for="LoginUser.Password"></td>
                </tr>
            </table>
            <input value="Login Now" type="submit"> 
        </form>
    </div>
</div>