<div>
    @model InputChecker
    <h1>Dojo Activity Center <a href="/home">Home</a>  <a href="/logout">Logout</a></h1>
    <form asp-action="CreateNewActivity" asp-controller="Home" method="post">
        <span asp-validation-for="Activity.Title"></span><br>
        <label asp-for="Activity.Title"></label>
        <input asp-for="Activity.Title"><br>

        <span asp-validation-for="Activity.Date"></span><br>
        <label asp-for="Activity.Date"></label>
        <input asp-for="Activity.Date"><br>

        <span asp-validation-for="Activity.Time"></span><br>
        <label asp-for="Activity.Time"></label>
        <input asp-for="Activity.Time"><br>

        <span asp-validation-for="Activity.Duration"></span><br>
        <label asp-for="Activity.Duration"></label>
        <input asp-for="Activity.Duration"><br>

        <span asp-validation-for="Activity.DurationType"></span><br>
        <label asp-for="Activity.DurationType"></label>
        <select asp-for="Activity.DurationType" value="1">
            <option value="1">Minutes</option>
            <option value="2">Hours</option>
            <option value="3">Days</option>
        </select><br>
        <span asp-validation-for="Activity.Description"></span><br>
        <label asp-for="Activity.Description"></label>
        <input asp-for="Activity.Description"><br>
        <input value="Create" type="submit"> 
    </form>
</div>