<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    </head>
    <body>
        <h1>Enter your information!</h1>
        @model User
        <form asp-action="Create" asp-controller="Home" method="post">
            <span asp-validation-for="FirstName"></span><br>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName"><br>

            <span asp-validation-for="LastName"></span><br>
            <label asp-for="LastName"></label>
            <input asp-for="LastName"><br>
            
            <span asp-validation-for="Age"></span><br>
            <label asp-for="Age"></label>
            <input asp-for="Age"><br>

            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label>
            <input asp-for="Email"><br>

            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
            <input asp-for="Password"><br>

            <span asp-validation-for="Birthday"></span><br>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday"><br>

            <input value="Submit" type="submit">  
        </form>
    </body>
</html>