<div id="index_container">
    <h1>Welcome to SRUDelicous</h1>
    <p>Check out some recent dishes!</p>
    <form asp-action="AddDish" asp-controller="Home" method="post">
        <input value="Add a Dish" type="submit">  
    </form>
</div>
