<div id="new_container">
    <h1>Add a new Dish!</h1>
    <form asp-action="Index" asp-controller="Home" method="get">
        <input value="Home" type="submit">  
    </form>
    @model User
    <form asp-action="Submission" asp-controller="Home" method="post">
        <span asp-validation-for="Name"></span><br>
        <label asp-for="Name"></label>
        <input asp-for="Name"><br>

        <span asp-validation-for="DishName"></span><br>
        <label asp-for="DishName"></label>
        <input asp-for="DishName"><br>

        <span asp-validation-for="Calories"></span><br>
        <label asp-for="Calories"></label>
        <input asp-for="Calories"><br>
        
        <span asp-validation-for="Tastiness"></span><br>
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            @for(int i=0;i<6;i++){
                <option value=@i>@i</option>
            }
        </select><br>

        <span asp-validation-for="Description"></span><br>
        <label asp-for="Description"></label>
        <input asp-for="Description"><br>

        <input value="Add Dish" type="submit">  
    </form>
</div>
