<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1> Home | <a href="/projects">Projects</a> | <a href="contact">Contact</a></h1>
        <h1>About Me</h1>
        <div>
            <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/EC63/production/_104451506_kiwivictoire.jpg"/>
            <p>Yudong Lin</p>
            <p>I love stuff</p>
        </div>
        <div>
            <p>Yudong is a world famouse people with super power</p>
            <p>He is very good at designing webpages and vedio games</p>
            <p>Please, if you have any question, email me!<p>
            <p>Yudong is a very helpful person and always be ready to help</p>
        </div>
    </body>
</html>
