<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Submitted Info!</h1>

        <p>Name: @ViewBag.Example[0]</p>
        <p>Dojo Location: @ViewBag.Example[1]</p>
        <p>Favorite Language: @ViewBag.Example[2]</p>
        <p>Comment: @ViewBag.Example[3]</p>
    </body>
</html>
