<div>
    <h1>Login</h1>
    
    <a href="/">Need to Register?</a>

    @model LoginUser
    <form asp-action="LoginCheck" asp-controller="Home" method="post">
        <span asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>

        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>

        <input value="Submit" type="submit"> 
    </form>
</div>